<div class="wrapper" fxLayout="column" fxLayoutAlign="center">
  <mat-form-field
    style="width: 720px; margin: auto;"
    appearance="fill"
  >
    <mat-label>URL to be shortened</mat-label>
    <label>
      <input matInput type="text" placeholder="http://" (keydown)="onKeydown($event)" [(ngModel)]="url">
    </label>
  </mat-form-field>

  <mat-form-field
    *ngIf="shortened"
    appearance="fill"
    style="width: 300px; margin-top: 2em; margin-left: auto; margin-right: auto;"
  >
    <mat-label>Shortened URL:</mat-label>
    <label>
      <input type="text" [value]="shortened" matInput placeholder="">
    </label>
  </mat-form-field>
</div>
